/*-- scss:defaults --*/
$light-green: rgb(12, 112, 12);
$dark-green: rgb(0, 77, 0);
$primary: rgb(34, 139, 34) !default;

$nav-link-color: $light-green !default;
$nav-link-hover-color: $light-green !default;
$link-color: rgba(104, 196, 104, 70) !default;

// div.sourceCode > iframe {
//     border: #ff0000;
//     margin-bottom: 10em;
// }